// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
@use './element-variables.scss';
@use './element-ui.scss';
@use './sidebar.scss';

// :root {
//   --ep-color-primary: red;
// }

body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  padding: 2px 4px;
  color: var(--ep-color-primary);
  background-color: var(--ep-color-primary-light-9);
  border-radius: 2px;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
    content: ' ';
  }
}

aside {
  display: block;
  margin-bottom: 20px;
  padding: 8px 24px;
  color: #2c3e50;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 32px;
  background: #eef1f6;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  position: relative;
  margin: 30px 50px;
}

.pagination-container {
  margin-top: 30px;
  &.pagination-wrapper {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.text-center {
  text-align: center;
}

.sub-navbar {
  position: relative;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  line-height: 50px;
  text-align: right;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );
  transition: 600ms ease position;

  .subtitle {
    color: #fff;
    font-size: 20px;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

th.el-table__cell {
  .cell {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }
}

.el-descriptions__label.el-descriptions__cell.is-bordered-label {
  // color: rgba(0, 0, 0, 0.4) !important;
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 400 !important;
}

.el-form-item__label {
  font-weight: 400 !important;
}

.el-table__header {
  .el-table__cell {
    padding: 12px 0 !important;
  }
}

.el-table__body {
  .el-table__cell {
    padding: 10px 0 !important;
  }
}

:root {
  --el-color-primary: #1677ff;
  --el-color-primary-dark-2: #0958d9;
  --el-color-primary-light-3: #4096ff;
  --el-button-hover-border-color: #0958d9;
}